.bg-image{
    background-image: url(banner-products/background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}

.container{
    margin-bottom: 100px;
}
.buy-btn{
    background-color: black;
    color:white;
    border-radius:5px;
    padding: 8px 15px;
}
.carousel-item{
    padding:20px 40px;
}
.carousel-indicators li{
    background-color:grey;
}
.carousel-indicators .active{
    background-image: linear-gradient(orange ,orange);
    padding:2px 3px;
    
}

.colorize{
    color:orange;
    text-decoration:none;
    display:inline;
}
h3.display-system{
    display:inline;
}
.card-footer{
    border:none;
}

.check img{
    width:100%;
}

